name: Command via SSH

on: push

env:
  IMAGE_NAME: "wind-app"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy and Start Server
        uses: garygrossgarten/github-action-ssh@release
        with:
          host: ${{ secrets.HOST }}
          username: root
          password: ${{ secrets.PASSWORD }}
          passphrase: ${{ secrets.PASSPHRASE }}
          privateKey: ${{ secrets.PRIVATE_KEY }}
          script: |
            docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_PASSWORD }}
            docker stop wind-app
            docker rm wind-app
            docker run -d --restart always --name wind-app wind-app:latest
        env:
          CI: true