name: Command via SSH

on: push

env:
  IMAGE_NAME: "wind-app"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy
        uses: garygrossgarten/github-action-ssh@release
        with:
          host: ${{ secrets.HOST }}
          username: root
          password: ${{ secrets.PASSWORD }}
          passphrase: ${{ secrets.PASSPHRASE }}
          privateKey: ${{ secrets.PRIVATE_KEY }}
        env:
          CI: true
      - run: |
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_PASSWORD }}
          docker stop ivorytoast3853/wind-app
          docker rm ivorytoast3853/wind-app
          docker run -p 10000:10000 -d --restart always --name wind-app ivorytoast3853/wind-app
        name: Start