name: ci

on:
  push:
    branches: [main]

env:
  IMAGE_NAME: "wind-app"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      -
        name: Build and Push to Docker Hub
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ivorytoast3853/wind-app:latest
      -
        name: Deploy
        uses: garygrossgarten/github-action-ssh@release
        with:
          host: ${{ secrets.HOST }}
          username: root
          password: ${{ secrets.PASSWORD }}
          passphrase: ${{ secrets.PASSPHRASE }}
          privateKey: ${{ secrets.PRIVATE_KEY }}
          command: |
            docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_PASSWORD }}
            docker stop wind-backend
            docker rm wind-backend
            docker pull ivorytoast3853/wind-app
            docker run -p 10000:10000 --name wind-backend -d ivorytoast3853/wind-app
